.tilt.rightTilt {
	transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
}
.tilt.leftTilt {
	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
}
body {
	min-width: 520px;
}
.column {
	width: 16.666%;
	float: left;
}
.column .inside {
	margin: 0 0.25em;
	border-radius: 3px;
	padding: 0.5em;
	padding-bottom: 100px;
}
.column h2 {
	margin: 0;
}
.portlet {
	margin: 0.5em 0;
	padding: 0.25em;
	background: white;
	border-radius: 3px;
}
.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
	cursor: default;
}
.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}
.portlet-content {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}

.trello {
	background: #0E74AF;
	padding-top: 0.5em;
	padding-left: 0.25em;
	padding-right: 0.25em;
}
.trello * {
	box-sizing: border-box;
}

#content {
	padding: 0;
}
